* {
  margin: 0;
  padding: 0;
}
.navigation {
  height: 74px;
  /*background-color: red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
}

.nav-left{
    font-size: 15px;
    display: flex;
}

.nav-left ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-left ul li a{
    text-decoration: none;
    font-family: var(--font2);
    margin:0 14px;
    
}

.content-left{
    font-family: var(--font1);
    width: 50%;
}

.content-right img{
    height: 10vh;
    width: 10vh;
}
.content-right{
    width: 50%;
}
.content {
  height: 95px;
  display:flex;
  /*background-color: blue;*/
}

.footer {
  height: 50px;
  /*background-color: blueviolet;*/
}
